.navbar-default {
    background: #fff;
    border-radius: 0px!important;
}

.content-holder {
    margin-top: 100px;
}
.project-block {
    background: #f9f9f9;
    border: 1px solid #dadada;
    text-align: center;
    border-radius: 8px;
    max-height: 600px;
    min-height: 600px;
    overflow-y: auto;
    
}

.project-block h3{
    padding-bottom: 30px;
}

.note-block {
    background: #f9f9f9;
    border: 1px solid #dadada;
    text-align: center;
    border-radius: 8px;
    max-height: 600px;
    min-height: 600px;
    overflow-y: auto;
    
}

.affix {
    top: 20px;
}

textarea.form-control {
    max-width: 75%;
    max-height: 100px;
    margin: 0px auto;
    margin: 40px;
}

.form-control[disabled] {
    cursor: pointer;
}

.todo-block {
    background: #f9f9f9;
    border: 1px solid #dadada;
    text-align: center;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 600px;
    min-height: 600px;
    
}

.todo-background {
    background: white;
    border: 1px solid #dadada;
    max-height: 100px;
    margin: 0px auto;
    border-radius: 4px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 0px;
    overflow-y: auto;
    max-width: 80%;
    
}

.note-background {
    background: white;
    border: 1px solid #dadada;
    min-height: 100px;
    max-height: 100px;
    margin: 0px auto;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    overflow-y: auto;
    max-width: 80%;
    
    
}

.note-background p {
    margin: 0px auto;
}

.testi {
    
}


.note-header {
    padding-bottom: 10px;
}

.todo-background .btn-default {
    /*float: right;
    margin-top: -50px;*/
}

.todo-button-li {
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 5px;
}

.todo-body {
    padding-bottom: 40px;
}

.note-body {
    margin-top: 40px;
}


.project-toggle {
    position: static!important;
    
}

.btn {
    left: 0;
    right: 0;
    
}