#form {
    margin-top: 50px;
}

input {
    margin-bottom: 30px;
    width: 80%;
}
textarea {
    min-height: 150px;
    max-height: 150px;
    width: 80%;
    margin-bottom: 30px;
}
#label {
    text-align: right;
}

#h2-email {
    margin-top: 147px;
    margin-bottom: 65px;
}
#buttons {
    margin-top: 30px;
}
#email-input {
    margin-bottom: 0;
}
#add-button {
    margin-bottom: 30px;
}
#h2-member {
    margin-bottom: 200px;
}
.panel {
    height: 200px;
}

body {
    padding: 50px;
    margin:20px
    
}

.navbar {
    padding-top: 17px;
    margin-bottom: 10px;
    height: 80px;
    background-image: url("../nav_kuva4.png");
    font-family: 'Cabin', sans-serif;
}


.signin {
    border: 1px solid ;
    border-color: black;
    margin-top: 50px;
    float: right;
    padding: 100px 50px 100px 50px;
    
}

.luo, #lisaajasen, .painikkeet {
    float: right;
}

.teksti {
    margin-top: 50px
}

.logo {
    height:125px;
    width: inherit;
    position: relative;
    margin-top: -12px!important;
    
}

h1 {
    font-family: 'Dosis', sans-serif; 
    font-size: 50px;
    text-align: center;
}
h3 {
    font-family: 'Dosis', sans-serif; 
    text-align: center;
    font-size: 18px;
}

.teksti {
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
}



