.project-block {
    background: #f9f9f9;
    border: 1px solid #dadada;
    text-align: center;
    border-radius: 8px;
    
}

.note-block {
    background: #f9f9f9;
    border: 1px solid #dadada;
    text-align: center;
    border-radius: 8px;
    max-height: 800px;
    overflow-y: auto;
    
}

textarea.form-control {
    max-width: 75%;
    max-height: 100px;
    margin: 0px auto;
    margin: 40px;
}

.todo-block {
    background: #f9f9f9;
    border: 1px solid #dadada;
    text-align: center;
    border-radius: 8px;
    
}

.todo-form {
    background: white;
    border: 1px solid #dadada;
    width: 255.75px;
    max-height: 100px;
    margin: 0px auto;
    border-radius: 4px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.todo-form .btn-default {
    float: right;
    margin-top: -50px;
}
