body {
    padding: 50px;
    margin:20px
    
}
.navbar {
    margin-bottom: 10px;
}

.signin {
    border: 1px solid ;
    border-color: black;
    margin-top: 50px;
    float: right;
    padding: 5px 5px 5px 5px;
    
}

.luo {
    float: right;
}

.teksti {
    margin-top: 50px
}