h1 {
    font-size: 90px;
    font-family: 'PT Sans Narrow', sans-serif;
}

h2 {
    font-size: 60px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
}

p, li {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    line-height: 1.6;
}

header {
    background-color: #372070;
    text-align: center;
    color: whitesmoke;
    
}

section {
    margin: 0px 300px 100px 300px;
    padding: 10px 50px 10px 50px;
    border: 2px solid #372070;
}

footer {
    text-align: center;
    background-color: #372070;
    color: whitesmoke;
}

a:link {
    color:#372070;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color:#372070;
    font-family: 'PT Sans Narrow', sans-serif; 
    font-size: 30px;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color:#5a3134;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color:seashell;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    background-color: transparent;
    text-decoration: underline;
	}

#tableOfContents ul {
        display: table;
        margin: 0px auto;
        list-style-type: none;
        margin-bottom: 30px;
    }

#tableOfContents ul li{
        
        margin-bottom: 30px;
}

li {
    margin-bottom: 20px;
}

section p {
    padding-bottom: 20px;
}

section h3 {
    margin-top: 80px;
}